<ion-view ng-controller="homeCtrl">
    <ion-header-bar align-title="left">
        
        <h1 style="text-align:center" class="title">Fab</h1>
        <div class="buttons">
            <button class="button button-icon ion-more" ng-click="openPopover($event)"></button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">
        <form>
            <div class="list list-inset">
                <label class="item item-input">
                    <!--  <i class="icon ion-person placeholder-icon"></i> -->
                    <input type="text" ng-model="user.name" placeholder="Enter name" required>
                </label>
                <label class="item item-input">
                    <!--  <i class="icon ion-edit placeholder-icon"></i> -->
                    <input type="tel" ng-model="user.value" placeholder="Enter value here (required)" required>
                </label>
                <button ng-click="calculate()" class="button button-block button-positive button-small">calculate </button>
            </div>
        </form>
        <div class="greetingDiv">
            <h5>Check for pattern, oversold or overbought region</h5>
        </div>
    </ion-content>
</ion-view>
